/* Los colores son provisorios, para diferenciar cada div.*/

/* Estilos que pertenecen a Tell a Friend.*/

.container-1{
    width:1024px;
    height: 90px;
    display: flex;
    background-color: green;
    }

/* Probar entrar desde el div padre y no ir directamenta a la etiqueta. */
.title-footer-friend{
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    flex: auto;
}

/* Estilos que pertenencen al social-network-footer. */

.social-network-footer{
    width:1024px;
    display: flex;
    background-color: #ffc4e8f3;
    }

.container-2{
    padding: 0 5rem;
    margin: auto;
    height: 100%;
    display: flex;
    background-color: brown;
}

.social-media-buttons{
    width: 53px;
    height: 66px;
    padding: 0 3rem;
    margin: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: blue;
}

button{
    width: 100px;
    height: 67px;
}

/* Estilos que pertenecen al main-footer, los headings deberían estar alineados con
cada una de las listas. */


.container-3{    
    padding: 0;
    height: 100%;
    margin-top: 64px;
    display: flex;
    align-items: center;
}

.row {
    flex-basis: calc(100%6);
    height: calc(100%-42px);
    padding-bottom: 42px;
    display:flex;
    align-content:flex-end;
    flex-wrap: wrap;
}

.li {font-family: Verdana, Geneva, Tahoma, sans-serif;}

.span{ float:left;}

