.offer-section{
    margin-top: 80px;
    margin-bottom: 20px;}

.component-title{
    text-align: center;
    font-family: 'Cormorant',Georgia, serif;
    font-weight: 700;
    font-size: 40px; /*vamos a tener que actualizar esto*/
    line-height: 48px;
    margin-top: 10px;
    color:#1F1F1F;}

.component-title-detail{
    color:#FF8126;}

.offer-container{
    max-width: 1170px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;}

.offer-box-1{
    border-radius: 20px;
    background-color: #F7F5F0;
    width: 270px;
    height: 332px;
    margin-top: 40px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);}

.offer-title{
    margin-top: 20px;
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    text-align: center;
    color: #1F1F1F;}
.offer-price{
    font-family: Poppins, sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #FF8126;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 10px;}
.real-offer-price{
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #656565;
    text-decoration:line-through;
    text-align: center;}

.quick-shop-button {
    background-color: #FF8126;
    /*width: 103px;
    height: 27px;*/
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    padding: 8px 70px;
    display: block;
    font-size: 18px;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    text-align: center;
    margin: auto;
    text-decoration: none;
    cursor: pointer;}

.quick-shop-button:hover{
    background-color: black;}

.why-choose-section{
    margin-top: 80px;
    margin-bottom: 20px;}

.why-choose-container{
    max-width: 1170px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;}

.why-choose-box{
    min-width: 210px;
    width: 210px;}

.why-choose-img-box{
    width: 45px;
    height: 45px;
    margin-bottom: 20px;}

.why-choose-title{
    font-family: Cormorant, serif;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color:#1F1F1F;
    text-align: left;
    margin-bottom: 10px;}

.why-choose-text{
    font-family: Poppins, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;}

.who-makes-section{
    margin-top: 80px;
    margin-bottom: 20px;}

.who-makes-container{
    max-width: 1170px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;}

.who-makes-section-title{
    font-family: Cormorant, serif;
    font-size: 40px;
    font-weight: 500;
    line-height: 48px;
    color: #FF8126;
    text-align: left;
}

.who-makes-section-title span{
    color:#1F1F1F;}

.who-makes-section-subtitle{
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #1F1F1F;
    margin-top: 20px;}

.who-makes-items-box{
    margin-top: 40px;
}

.who-makes-items{
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

}

.who-makes-box-1{
    max-width: 530px;}

.who-makes-box-2{
    max-width: 570px;}