img{max-width: 100%;}

.offer-section{
    margin-top: 5em;
    margin-bottom: 1.25em;}

.component-title{
    text-align: center;
    font-family: 'Cormorant',Georgia, serif;
    font-weight: 700;
    font-size: 2.5rem; /*vamos a tener que actualizar esto*/
    /*line-height: 48px;*/
    margin-top: 0.625em; /*10px;*/
    color:#1F1F1F;}

.component-title-detail{
    color:#FF8126;}

.offer-container{
    max-width: 1170px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* align-items: center; */
    margin-left: auto;
    margin-right: auto;}

.offer-box{
    /* align-items: center; */
    border-radius: 1.25em;/*20px;*/;
    background-color: #F7F5F0;
    width: 270px;
    height: 332px;
    margin-top: 2.5em; /*40px;*/
    box-shadow: 0px 0px 0.625em rgba(0, 0, 0, 0.15);}

.offer-title{
    margin-top: 0.9em;/*20px;*/
    font-family: Poppins, sans-serif;
    font-size: 1.125rem; /*18px*/
    font-weight: 600;
    text-align: center;
    color: #1F1F1F;}

.offer-price{
    font-family: Poppins, sans-serif;
    font-weight: 700;
    font-size: 1.5rem;/*24px;*/
    color: #FF8126;
    text-align: center;}

.real-offer-price{
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 1.1rem;/*18px;*/
    color: #656565;
    text-decoration:line-through;
    text-align: center;}

.quick-shop-button {
    background-color: #FF8126;
    /*width: 103px;
    height: 27px;*/
    border: none;
    margin: auto;
    margin-top: 0.625em; /*10px;*/
    border-radius: 5px;
    color: #FFFFFF;
    padding: 0.5em 4.375em;/*8px 70px;*/
    display: block;
    font-size: 1.125rem;/*18px;*/;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    cursor: pointer;}

.quick-shop-button:hover{
    background-color: black;}

.why-choose-section{
    margin-top: 5em;/*80px;*/
    margin-bottom: 1.25em;/*20px;*/}

.why-choose-container{
    max-width: 1170px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5em;}

.why-choose-box{
    min-width: 210px;
    width: 210px;}

.why-choose-img-box{
    width: 45px;
    height: 45px;
    margin-bottom: 1.25em;/*20px;*/;}

.why-choose-title{
    font-family: Cormorant, serif;
    font-weight: 700;
    font-size: 1.5625rem;
    line-height: 30px;
    color:#1F1F1F;
    text-align: left;
    margin-bottom: 0.625em; /*10px;*/}

.why-choose-text{
    font-family: Poppins, sans-serif;
    font-size: 1rem;
    line-height: 1.5em;/*24px;*/
    font-weight: 400;}

.who-makes-section{
    margin-top: 5em;/*80px;*/;
    margin-bottom: 1.25em;/*20px;*/;}

.who-makes-container{
    max-width: 1170px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;}



.who-makes-section-title{
    font-family: Cormorant, serif;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 48px;
    color: #FF8126;
    text-align: left;}

.who-makes-section-title span{
    color:#1F1F1F;
    font-weight: 500;}

.who-makes-section-subtitle{
    font-family: Poppins, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: #1F1F1F;
    margin-top: 1.25em;/*20px;*/;}

.who-makes-items-box{
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    max-width: 530px;}

.who-makes-items{
    font-family: Poppins, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5em;/*24px;*/
    margin-left: 2em;}

.who-makes-item-list{
    font-family: Poppins, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    padding-left: 0.3125em;
    list-style-image: url('../resources/whoMakes_ellipse.svg');}


.who-makes-box-1{
    max-width: 530px;}

.who-makes-box-2{
    max-width: 570px;}

.our-charity-section{
    margin-top: 5em;/*80px;*/;
    margin-bottom: 1.25em;/*20px;*/;}

.our-charity-container{
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
    background-color: #6090C3;
    background-image: url('../resources/ourCharity_vectorGroup.png');}

.our-charity-title{
    padding-top: 1em;
    font-family: Cormorant, serif;
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;}

.our-charity-logo{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 1.875em;
    margin-bottom: 1.875em;}

.our-charity-button-box{
    padding-bottom: 3.75em;}

.our-charity-button {
    background-color: #FF8126;
    /*width: 103px;
    height: 27px;*/
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    padding: 0.5em 4.375em;
    display: block;
    font-size: 1.125rem;/*18px;*/;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    text-align: center;
    margin: auto;
    text-decoration: none;
    cursor: pointer;}

.our-charity-button:hover{
    background-color: black;}


.surprise-someone-section{
    margin-top: 5em;/*80px;*/;
    margin-bottom: 1.25em;/*20px;*/;}

.surprise-someone-container{
    max-width: 1170px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;}

.surprise-someone-box-1{
    max-width: 570px;}

.surprise-someone-box-2{
    max-width: 530px;
    margin-top: 4.0625em;}

.surprise-someone-text-box{
    margin-top: 1.25em;/*20px;*/;}

.surprise-someone-section-title{
    font-family: Cormorant, serif;
    font-size: 2.5rem;/*40px;*/
    font-weight: 700;
    line-height: 48px;
    color: #FF8126;
    text-align: left;}

.surprise-someone-section-title span{
    color:#1F1F1F;}

.surprise-someone-text{
    font-family: Poppins, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 24px;
    color: #1F1F1F;}

.surprise-someone-button-box{
    margin-top: 1.875em;}

.surprise-someone-button {
    background-color: #FF8126;
    /*width: 103px;
    height: 27px;*/
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    padding: 0.5em 1.875em;
    display: block;
    font-size: 1.125rem;/*18px;*/;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    text-align: center;
    /*margin: auto;*/
    text-decoration: none;
    cursor: pointer;}

.surprise-someone-button:hover{
    background-color: black;}

.instagram-section{
    margin-top: 5em;/*80px;*/;
    margin-bottom: 1.25em;/*20px;*/;}

.instagram-title{
    color: #FF8126;
    font-family: Cormorant, serif;
    font-size: 2.5rem;/*40px;*/
    font-weight: 700;
    text-align: center;
    word-wrap: break-word;}

.instagram-title a{
    color: #FF8126;
    font-family: Cormorant, serif;
    font-size: 2.5rem;/*40px;*/
    font-weight: 700;
    text-align: center;
    text-decoration: underline;
    word-wrap: break-word;}

.instagram-title span{
    color: #1F1F1F;}

.instagram-image-container{
    max-width: 1170px;
    display: flex;
    flex-flow: row wrap;
    /*flex-wrap: wrap;*/
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    }

.instagram-image-detail{
    background-color:#FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 156px;
    height: 156px;
    padding: 0.9375em;/*15px;*/
    margin-top: 2.5em;;}

.instagram-image-box{
    text-align: center;
    vertical-align: middle;}

@media (max-width:600px){
    .who-makes-section-title {
            text-align: center;}
    .who-makes-container{
            max-width:90%;}
    .surprise-someone-container{
        max-width:90%;}
    .instagram-container{
        max-width:90%;}
    .our-our-charity-button{
        max-width:90%;}
    .why-choose-box{
        margin-top: 2em;
    }
    }


.tell-a-friend-section{
    margin-top: 5em;/*80px;*/;
    margin-bottom: 1.25em;/*20px;*/;}

.tell-a-friend-container{
    max-width: 1366;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255,129,38,0.08);
    background-image: url('../resources/telAFriend_vectorGroup.png');
    display: flex;
    flex-direction: column;
    align-items: center;}

.tell-a-friend-title{
    color:#1F1F1F;
    padding-top: 1em;
    font-family: Cormorant, serif;
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;}

.tell-a-friend-social-media{
    margin-top: 2.5em;
    padding-bottom: 3em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;}

.tell-a-friend-social-media > img{
    margin:0.375em;}


.footer-section{
    margin-top: 5em;/*80px;*/;
    margin-bottom: 1.25em;/*20px;*/;}

.footer-container{
    max-width: 1280px;
    display: flex;
    /* flex-flow: row wrap; */
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* margin: 2rem 0; */
    margin-left:  auto;
    margin-right: auto;
    align-items:flex-start;
}

/* corregir */


.footer-brand{
    margin-left: 32px;
    padding-bottom: 32px;
}

.footer-box{
    margin-left: 54px;
    padding-bottom: 32px;
}

.footer-box .file-two li{
    padding-bottom: 12px;
    font-family: Poppins;
    font-size: 15px;
    }

.footer-box .file-three li{
    padding-bottom: 12px;
    font-family: Poppins;
    font-size: 15px;
    }

.footer-box .file-four li{
    padding-bottom: 12px;
    font-family: Poppins;
    font-size: 15px;
}

.ocassions{
    padding-bottom: 14px;
    font-family: Poppins;
    font-style: normal;
    font-size: 15px;
    line-height: 22px;
}

.all{
    padding-bottom: 14px;
    font-family: Poppins;
    font-style: normal;
    font-size: 15px;
    line-height: 22px;
}

.gift{
    padding-bottom: 14px;
    font-family: Poppins;
    font-style: normal;
    font-size: 15px;
    line-height: 22px;
}

.brands{
    font-family: Poppins;
    font-style: normal;
    font-size: 15px;
    line-height: 22px;
}

.about{
    font-family: Poppins;
    font-style: normal;
    font-size: 15px;
    line-height: 22px;
}



/* @media screen and (max-width: 500px) {
    div> ul> li {
        display: none;
    }
} */


