img{
    max-width: 100%;}

.offer-section{
    margin-top: 80px;
    margin-bottom: 20px;}

.component-title{
    text-align: center;
    font-family: 'Cormorant',Georgia, serif;
    font-weight: 700;
    font-size: 40px; /*vamos a tener que actualizar esto*/
    line-height: 48px;
    margin-top: 10px;
    color:#1F1F1F;}

.component-title-detail{
    color:#FF8126;}

.offer-container{
    max-width: 1170px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;}

.offer-box-1{
    border-radius: 20px;
    background-color: #F7F5F0;
    width: 270px;
    height: 332px;
    margin-top: 40px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);}

.offer-title{
    margin-top: 20px;
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    text-align: center;
    color: #1F1F1F;}
.offer-price{
    font-family: Poppins, sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #FF8126;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 10px;}
.real-offer-price{
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #656565;
    text-decoration:line-through;
    text-align: center;}

.quick-shop-button {
    background-color: #FF8126;
    /*width: 103px;
    height: 27px;*/
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    padding: 8px 70px;
    display: block;
    font-size: 18px;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    text-align: center;
    margin: auto;
    text-decoration: none;
    cursor: pointer;}

.quick-shop-button:hover{
    background-color: black;}

.why-choose-section{
    margin-top: 80px;
    margin-bottom: 20px;}

.why-choose-container{
    max-width: 1170px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;}

.why-choose-box{
    min-width: 210px;
    width: 210px;}

.why-choose-img-box{
    width: 45px;
    height: 45px;
    margin-bottom: 20px;}

.why-choose-title{
    font-family: Cormorant, serif;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color:#1F1F1F;
    text-align: left;
    margin-bottom: 10px;}

.why-choose-text{
    font-family: Poppins, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;}

.who-makes-section{
    margin-top: 80px;
    margin-bottom: 20px;}

.who-makes-container{
    max-width: 1170px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;}

.who-makes-section-title{
    font-family: Cormorant, serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    color: #FF8126;
    text-align: left;}

.who-makes-section-title span{
    color:#1F1F1F;
    font-weight: 500;}

.who-makes-section-subtitle{
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #1F1F1F;
    margin-top: 20px;}

.who-makes-items-box{
    margin-top: 40px;
    max-width: 530px;}

.who-makes-items{
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;}

.who-makes-item-list{
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding-left: 5px;
    list-style-image: url('../resources/whoMakes_ellipse.svg');}


.who-makes-box-1{
    max-width: 530px;}

.who-makes-box-2{
    max-width: 570px;}

.our-charity-section{
    margin-top: 80px;
    margin-bottom: 20px;}

.our-charity-container{
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    background-color: #6090C3;
    background-image: url('../resources/ourCharity_vectorGroup.png');}

.our-charity-title{
    padding-top: 60px;
    font-family: Cormorant, serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    color: #FFFFFF;}

.our-charity-logo{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;}

.our-charity-button-box{
    padding-bottom: 60px;}

.our-charity-button {
    background-color: #FF8126;
    /*width: 103px;
    height: 27px;*/
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    padding: 8px 70px;
    display: block;
    font-size: 18px;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    text-align: center;
    margin: auto;
    text-decoration: none;
    cursor: pointer;}
    
.our-charity-button:hover{
    background-color: black;}

    
.surprise-someone-section{
    margin-top: 80px;
    margin-bottom: 20px;}

.surprise-someone-container{
    max-width: 1170px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;}

.surprise-someone-box-1{
    max-width: 570px;}

.surprise-someone-box-2{
    max-width: 530px;
    margin-top: 65px;}

.surprise-someone-text-box{
    margin-top: 20px;}

.surprise-someone-section-title{
    font-family: Cormorant, serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    color: #FF8126;
    text-align: left;}

.surprise-someone-section-title span{
    color:#1F1F1F;}

.surprise-someone-text{
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #1F1F1F;}

.surprise-someone-button-box{
    margin-top: 30px;}
    
.surprise-someone-button {
    background-color: #FF8126;
    /*width: 103px;
    height: 27px;*/
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    padding: 8px 30px;
    display: block;
    font-size: 18px;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    text-align: center;
    /*margin: auto;*/
    text-decoration: none;
    cursor: pointer;}
        
.surprise-someone-button:hover{
    background-color: black;}

.instagram-section{
    margin-top: 80px;
    margin-bottom: 20px;}

.instagram-title{
    color: #FF8126;
    font-family: Cormorant, serif;
    font-size: 40px;
    font-weight: 700;
    text-align: center;}

.instagram-title a{
    color: #FF8126;
    font-family: Cormorant, serif;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    text-decoration: underline;}

.instagram-title span{
    color: #1F1F1F;}

.instagram-image-container{
    max-width: 1170px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;}

.instagram-image-detail{
    background-color:#FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 156px;
    height: 156px;
    padding: 15px;}

.instagram-image-box{
    text-align: center;
    vertical-align: middle;}