@font-face {
  font-family: Cormorant;
  src: url('fonts/Cormorant/Cormorant-Medium.ttf'), /*Cormorant 500*/
       url('fonts/Cormorant/Cormorant-Bold.ttf');  /*Cormorant 700*/
}
@font-face {
  font-family: Poppins;
  src: url('fonts/Poppins/Poppins-Light.ttf'), /*Poppins 300*/
       url('fonts/Poppins/Poppins-Regular.ttf'), /*Poppins 400*/
       url('fonts/Poppins/Poppins-Medium.ttf'), /*Poppins 500*/
       url('fonts/Poppins/Poppins-SemiBold.ttf'); /*Poppins 600*/
}

:root{
  --primary-color: #FF8126;
  --success-color: #C2E8CE;
  --font-color: #1F1F1F;
  --danger-color: #E5C0C0;
  --warning-color: #E2E2BE;
  --info-color: #C0C8E5;
}

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: 'Cormorant';
  box-sizing: border-box;
  color: var(--font-color);
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}